@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bodyFonts: 'Josefin Sans', sans-serif;
    --pinkColor: #5557F3;
    --titleColor: #000000;
    --bodyColor: #666666;
    --lightblueColor: #8D99FF;
    --whiteColor: #ffffff;
    --fontSize: 16px;
    --transition: .5s;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
.menu-btn{
    color: black;
    background: none;
    border: none;
    font-size: 22px;
    line-height: 1rem;
}
.menu-btn:hover{
    background: none;
    border: none;
    color: #000000;
}
.navba-Style{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#backTo:hover{
    background: #181818;
}
#backTo a:hover{
    color: #fff !important;
}
.cart-item{
    width: 35% !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.site-logo img{
    width: 20%;
}

@media screen and (max-width:520px) {
    .site-logo img{
        width: 30%;
    }
}

@media screen and (max-width:480px) {
    .site-logo img{
        width: 40%;
    }
}

@media screen and (max-width:420px) {
    .site-logo img{
        width: 50%;
    }
    .icons i{
        font-size: 10px;
        padding-top: 0.5rem;
    }
}
@media screen and (max-width:370px) {
    .site-logo img{
        width: 60%;
    }
}

.icons i{
    font-size: 30px;
    margin-right: 20px;
}

@media screen and (max-width:600px) {
    .icons i{
        font-size: 20px;
    }
}

.second-row{
    background: #1c34ae;
    height: 70px;
    align-items: center;
}

.first-list{
    display: flex;
    justify-content: space-evenly;
}
.first-list li{ 
    list-style: none;
}

.first-list a{
    color: white;
    text-decoration: none;
}

.second-list{
    display: flex;
    justify-content: space-evenly;
}
.second-list li{ 
    list-style: none;
}
.second-list a{
    color: white;
}

/* drop-user list  */

.user-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    /* float: left; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 50px;
}
.user-list ul li{
    list-style: none;
}
.user-list ul li a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    line-height: 3.2rem;
    padding: 12px 0px;
    list-style: none;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
}
.user-list a:hover{
    color: #dd3333;
}

.drop-user:hover  .user-list{
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 590px;
    left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content{
    background: #f5f5f5;
  }

  .drop-1 h4{
    font-size: 15px;
    /* border-bottom: #dd3333; */
  }
  .drop-2 h4{
    font-size: 15px;
    border-bottom: #dd3333;
  }
  .drop-3 h4{
    font-size: 15px;
    border-bottom: #dd3333;
  }

  .drop-1{
    width: 22.5%;
  }

  hr{
    color: red;
    width: 100%;
    border: 2px solid red;
  }
  .drop-1  a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.5rem;
    font-family: 'poppins', sans-serif;
    padding: 0px 8px;
    text-transform: none;
  }
  .drop-2 a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.5rem;

    padding: 0px 8px;
  }
  .drop-3 a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 0px 8px;
  }

  .drop-1 a:hover , .drop-2 a:hover , .drop-3 a:hover{
    color: #dd3333;
  }
  
.dropdown:hover .dropdown-content {display: block;}

/* // page dropdown list */

.page-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.page-list a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    line-height: 3.2rem;
    padding: 12px 0px;
}
.page-list a:hover{
    color: #dd3333;
}
.page-dropdown:hover .page-list {display: block;}


/* blog dropdownlist */

.blog-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.blog-list a{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    line-height: 3.2rem;
    padding: 12px 0px;
}
.blog-list a:hover{
    color: #dd3333;
}

.blog-dropdown:hover  .blog-list{
    display: block;
}
/* 
in blog dropdown inside it grid-drop */

.fas {
    /* float: right; */
    margin-left: 10px;
    padding-top: 10px;
  }

  .dropdown-menu-1 {
    display: none;
  }
  .dropdown-menu-1 ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  } 
  .dropdown-menu ul:hover {
    display: block;
    margin: 10px;
  }
  .dropdown-menu-1 ul li:hover {
    width: 150px;
    padding: 10px;
  }

  .dropdown-menu-1:hover {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }

/* LANGUAGE-DROP DOWN */

.language-drop:hover .language-list{
    display: block;
}
.language-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.language-list li{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    line-height: 2.2rem;
    padding: 12px 0px;
}
.language-drop  a{
    text-decoration: none !important;
}
#help {
    text-decoration: none;

}
.language-list li:hover{
    color: #dd3333;
}

 /* currency-drop down */
 .currency-drop:hover .currency-list{
    display: block;
}
.currency-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.currency-list li{
    color: #444;
    width: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    line-height: 2.2rem;
    padding: 12px 0px;
}
.currency-drop a{
    text-decoration: none;

}
.currency-list li:hover{
    color: #dd3333;
}


.main-images{
    box-sizing: border-box;
}

.banner-1{
    border: none;
    border-radius: 0;
}
.banner-1-text{
    text-align: center;
    right: 0;
    left: 0;
    bottom: 10%;
    top: auto;
    transform: translateY(0);
}
.banner-1-text h2{
    font-size: 50px;
    line-height: 50px;
}
.banner-1-text p{
    font-size: 24px;
}
.banner-1-text a{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    border-color: #dd3333;
    background: #dd3333;
    color: #ffffff;
}

.banner-2-text{
    bottom: 10%;
    top: auto;
    transform: translateY(0);
}

.banner-2-text h2{
    font-size: 50px;
    line-height: 50px;
}
.banner-2-text p{
    font-size: 24px;
}
.banner-2-text a{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    border-color: #1C34AE;;
    background: #1C34AE;;
    color: #ffffff;
}

.banner-2{
    border: none;
    border-radius: 0;
}
.banner-3{
    border: none;
    border-radius: 0;
}

.banner-3-text{
    padding: 20px;
    z-index: 3;
}
.banner-3-text h2{
    color: #f8e71c;
}
.banner-3-text h4{
    display: block;
    /* text-decoration: line-through; */
    color: #C5C5C5;
    font-size: 24px;
}
.banner-3-text h4 span{
    color: #ffffff;
    text-decoration: none;
}
.banner-3-text a{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    border-color: #dd3333;
    background: #dd3333;
    color: #ffffff;
}

.banner-4{
    border: none;
    border-radius: 0;
}
.banner-4-text{
    padding: 20px;
    z-index: 3;
}
.banner-4-text p{
    font-size: 12px;
}
.banner-4-text h2{
    font-size: 35px;
    line-height: 40px;
}
.banner-4-text span{
    color: #181818;
    font-size: 14px;
}
.banner-4-text a{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    border-color: #181818;
    background: transparent;
    color: #181818;
}
.banner-4-text a:hover{
    color: #ffffff;
    background: #dd3333;
    border-color: #dd3333;
}
.shipping i{
    font-size: 40px;
    text-align: center;
}
.shipping h4{
    color: #181818;
    font-size: 16px;
}
.shipping p{
    color: 737373;
    font-size: 12px;
    padding-top: 5px;
}

.timing i{
    font-size: 40px;
    text-align: center;
}
.timing h4{
    color: #181818;
    font-size: 16px;
}
.timing p{
    color: 737373;
    font-size: 12px;
    padding-top: 5px;
}

.return i{
    font-size: 40px;
    text-align: center;
}
.return h4{
    color: #181818;
    font-size: 16px;
}
.return p{
    color: 737373;
    font-size: 12px;
    padding-top: 5px;
}


.secure i{
    font-size: 40px;
    text-align: center;
}
.secure h4{
    color: #181818;
    font-size: 16px;
}
.secure p{
    color: 737373;
    font-size: 12px;
    padding-top: 5px;
}

/* /// carousel-text */

/* .image-1 img{
    width: 50% !important;
} */
/* .carousel1{} */
.carousel-text{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0px 10px;
}
.items{
    line-height: 0px;
}
.items i{
    font-size: 30px;
}
.items h3{
    font-size: 38px;
    padding-left: 14px;
}
.carousel{
    /* height: 100%; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    overflow: hidden;
}
.carousel-1-text{
    border: none;
    padding: 40px;
}
.carousel-1-text img{
    width: 70%;
    margin: auto;
}
.heading i{
    font-size: 30px;
}
.heading h2{
    font-size: 40px;
    padding-left: 14px;
}
.carousel1-text{
    position: relative;
}
.carousel1-text p:hover{
    color: #dd3333;
}
.carousel1-text span{
    color: #dd3333;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: #f90;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label {
    color: #fc0;
}


/* rating for tabs products */

.rating1 {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rating1 input {
    display: none;
}

.rating1 label {
    font-size: 2rem;
    color: #f90;
    cursor: pointer;
}

.rating1 input:checked ~ label {
    color: #f90;
}

.rating1 label:hover,
.rating1 label:hover ~ label,
.rating1 input:checked ~ label:hover,
.rating1 input:checked ~ label:hover ~ label {
    color: #fc0;
}


.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #000 !important; /* Customize the color and thickness */
    background: none;
}
.tabs-btn{
    border: none !important;
    outline-color: transparent !important;
}

.tag1 h2{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    padding: auto 0px;
}
@media screen and (max-width:329px) {
    .tag1 h2{
        font-size: 17px;
    }
}
.tabs-link a{
    color: #181818 !important;
}
@media screen and (max-width:931px) {
    .tabs-link a{
        display: none;
    }
}
.tabs-link a:hover{
    background: #dd3333;
    border-color: #dd3333;
    color: #ffffff;
    text-decoration: none;
}
.price:hover{
    color: #dd3333;
}
.card-text:hover{
    color: #dd3333;
}
.card-text{
    font-size: 12px;
    margin: 0 0 5px;
    line-height: inherit;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* cart */
.total{
    position: relative;
}
.total-count{
    position: absolute;
    top: 16px;
    right: 23px;
    background: red;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 800;
    padding-top: 1px;
}
@media screen and (max-width:767px) {
    .total-count{
        right: 62px;
    }
}
@media screen and (max-width:725px) {
    .total-count{
        right: 65px;
        top: 14px;
    }
}
@media screen and (max-width:686px) {
    .total-count{
        right: 64px;
        top: 10px;
    }
}
@media screen and (max-width:666px) {
    .total-count{
        right: 64px;
        top: 8px;
    }
}
@media screen and (max-width:630px) {
    .total-count{
        right: 64px;
        top: 5px;
    }
}

@media screen and (max-width:575px) {
    .total-count{
        right: 58px;
        top: 6px;
    }
}

.default-btn {
    padding: 12px 25px 10px;
    text-align: center;
    color: var(--whiteColor) !important;
    font-size: var(--fontSize);
    transition: var(--transition);
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    z-index: 0;
    background: var(--pinkColor);
    overflow: hidden;
    white-space: nowrap;
    border: 0;
  }
  .default-btn:hover {
    color: var(--whiteColor) !important;
  }
 .btn-success {
    background-color: #F96B6A !important;
    border-color: #F96B6A !important;
  }





  






/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

#purchase-btn:hover{
    background: #dd3333;
    border-color: #dd3333;
}

.elements{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elements i{
    border: 1px solid rgb(34, 34, 34);
    width: 30px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-top: 6px;
    background: #ffffff;
}
.elements i:hover{
    background: #dd3333;
    color: #ffffff;
    border-color: #181818;
    font-size: 12px;
    padding-top: 8px;
}
/* .card{
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
} */
.card:hover  .elements{
    display: block;
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}
.first-card{
   border: none;
   border-radius: 0px;
}
.second-card{
    border: none;
    border-radius: 0px;
}
.first-card-text h2{
    font-size: 32px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

@media screen and (max-width:900px) {
    .first-card h2{
        font-size: 27px;
    }
}

@media screen and (max-width:832px) {
    .first-card h2{
        font-size: 24px;
    }
}

@media screen and (max-width:410px) {
    .first-card h2{
        font-size: 20px;
    }
}
@media screen and (max-width:390px) {
    .first-card h2{
        font-size: 17px;
    }
}

.first-card-text p{
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}
.first-card-text a{
        border-style: solid;
        border-width: 2px;
        border-radius: 30px;
        padding: 12px 40px;
        display: inline-block;
        border-color: #ffffff;;
        color: #ffffff;
        text-decoration: none;
}
@media screen and (max-width:900px) {
    .first-card a{
        padding: 8px 22px;
    }
}

@media screen and (max-width:390px) {
    .first-card a{
        padding: 6px 18px;
    }
}

@media screen and (max-width:370px) {
    .first-card a{
        padding: 3px 9px;
    }
    .first-card h2{
        font-size: 14px;
    }
    .first-card p{
        font-size: 10px;
    }
}

.first-card-text a:hover{
    color: #181818;
    background: #ffffff;
    border-color: #dd3333;
    color: #181818;
}
.second-card-text h2{
    font-size: 32px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

@media screen and (max-width:900px) {
    .second-card h2{
        font-size: 27px;
    }
}

@media screen and (max-width:832px) {
    .second-card h2{
        font-size: 24px;
    }
}

@media screen and (max-width:410px) {
    .second-card h2{
        font-size: 20px;
    }
}

@media screen and (max-width:390px) {
    .second-card h2{
        font-size: 17px;
    }
}




.second-card-text p{
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    color: #727171;
}
.second-card-text a{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    border-color: #dd3333;
    background: #dd3333;
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width:900px) {
    .second-card a{
        padding: 8px 22px;
    }
}

@media screen and (max-width:390px) {
    .second-card a{
        padding: 6px 18px;
    }
}
@media screen and (max-width:370px) {
    .second-card a{
        padding: 3px 9px;
    }
    .second-card h2{
        font-size: 14px;
    }
    .second-card p{
        font-size: 10px;
    }
}

/* cart - navigate page  */

.price-btn{
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.footer{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.img-desc p{
    margin-top: 10px;
    color: #868686;
    max-width: 247px;
}
.timing ul li{
    list-style: none;
    font-size: 12px;
    line-height: 2.94;
    color: #868686;
}
.timing h2{
    font-size: 18px;
    line-height: 1.84;
}

.contact ul li{
    list-style: none;
    font-size: 11px;
    line-height: 2.94;
    color: #868686;
}
.contact ul li i{
   margin-right: 0px;
}
.contact h2{
    font-size: 18px;
    line-height: 1.84;
}
.logos i{
    margin: 0 10px;
}
.reserved p{
    color: #868686;
    font-size: 12px;
}
.payement img{
    width: 100%;
}
@media screen and (max-width:767px){
    .payement img{
        width: 25%;
    }
}
/* .line{
    color: #666666 !important;
    width: 100% !important;
    border: none !important;
} */

/* checkout-pages design */

.price{
    font-size: 15px;
    display: flex;
}

/* offcanvas for navbar */

/* .baroff{
    font-size:30px;
    cursor:pointer; 
    display: none;
}
.sidenav{
    display: none;
}
@media screen and (max-width:990px) {
    .baroff{
        display: block;
    }
    .sidenav{
        display: block;
    }
} */


/* cart-js styling */

.decrease-quantity{
    width: 23px;
    height: 25px;
    text-align: center;
    padding: 2px 7px;
}
.increase-quantity{
    width: 23px;
    height: 25px;
    text-align: center;
    padding: 2px 7px;
}
.img-fluid{
    width: 30%;
}

